@charset 'utf-8';

body{width:100%; height:100vh; margin:0; background-color:#000;}
.cursor-position{position:absolute; margin:0; color:#fff;}
.line{position:absolute; background: #fff;}
.line-x{width:100%; height:1px;}
.line-y{width:1px; height:100%;}
.target{position:absolute;}