@charset 'utf-8';

*{box-sizing: border-box;}
html{font-size:62.5%;}
.list-wrap{width:400px; font-size:1.6rem; border:1px solid #eee; border-radius:10px; margin:50px auto; background:rgb(243, 220, 220);}
.list-header{text-align:center; padding:10px 0; border-bottom:1px solid #fff;}
.list-body{height:560px; padding:0 10px; overflow-y:auto;}
.list-body ul{padding-left:0;}
.list{display:flex; justify-content:space-between;}
.list-footer input{width:80%; height:4rem; line-height:2rem; padding:1rem 0;}
.btn-list-input{width:15%; height:4rem; vertical-align: bottom;}